body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit, 20rem);
    gap: 5px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* 1 */

#card1 {
    height: 10rem;
    width: 10rem;
    background: #e0e0e0;
    border-radius: 1rem;
    box-shadow:  -5px 5px 10px #bababa,
                5px -5px 10px #ffffff;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

/* 2 */
#container2 {
    background-color: #ff4b4b;
}

#card2 {
    height: 10rem;
    width: 10rem;
    background-color: #f74848;
    border-radius: 1rem;
    box-shadow:  -5px 5px 10px #d43e3e,
                5px -5px 10px #ff5858;
    border-top: 2px solid #ff6a6a;
    border-right: 2px solid #ff6a6a;
}

/* 3 */
#container3 {
    background-color: #13293D;
}

#card3 {
    height: 10rem;
    width: 10rem;
    background-color: #13293D;
    border-radius: 1rem;
    box-shadow:  -5px 5px 10px #102233,
                5px -5px 10px #163047;
    border-top: 2px solid #264a6b;
    border-right: 2px solid #264a6b;
}