body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit, 20rem);
}

section.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#card1 {
    height: 10rem;
    width: 10rem;
    background-color: black;
    border-radius: 1rem;
    background: #e0e0e0;
    box-shadow:  -5px 5px 10px #bababa,
                5px -5px 10px #ffffff;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

